*{ 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	 }

.back{
	background: url(../imagens/back.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: repeat;
	background
	
}
#infuser{
    color:#000;
    text-align: left;
    
       
}
.menu{
	margin: 0 auto;
	
}
.oculta{
	display: none;
}
.imag{
	width: 400px;
	height: 300px;
	
}
.conteud{
	background: #CCFFFF;
    
}

#entrar{
  border-radius: 4px;
  background-color: #228B22;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  padding: 16px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
}

#entrar:hover {
    cursor: pointer;
  	display: inline-block;
 	position: relative;
    transition: 0.5s;
    background-color: #32CD32;

}
.fbranco{
	background: #CCFFFF
}
.fundo{
	background: url(../imagens/fundo.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;

}
.mtop{
	margin-top:50px; 
}
.margem{
	/*margin-left:15px;*/
	/*padding:0 7px; */
}
.img{
	width: 210px;
	height: 210px;
}
.img2{
	width: 150px;
	height: 260px;
}
.ft{
	padding-bottom: 3px;
}
.form{
	
	padding: 1em;
	overflow: hidden;
	

}
.btn_p{
	margin: 0 auto;
}


.footer{
	background: #008B8B;

}  
.cor_menu{
	background: #008B8B;
}
.centralizar{

	background:;

}